[Desktop Entry]
Name=UPlayer
Name[ca]=UPlayer
Name[de_DE]=UPlayer
Name[es_ES]=UPlayer
Name[es_MX]=UPlayer
Name[fr_FR]=UPlayer
Name[it_IT]=UPlayer
Name[pt_BR]=UPlayer
Name[pt_PT]=UPlayer
Name[tr_TR]=UPlayer
Name[zh_CN]=UP视频播放器
Name[zh_TW]=UPlayer
GenericName=UPlayer PyQT GUI
GenericName[ca]=MPlayer PyQT GUI
GenericName[de_DE]=MPlayer PyQT GUI
GenericName[es_ES]=MPlayer PyQT GUI
GenericName[es_MX]=MPlayer PyQT GUI
GenericName[fr_FR]=MPlayer PyQT GUI
GenericName[it_IT]=MPlayer PyQT GUI
GenericName[pt_BR]=MPlayer PyQT GUI
GenericName[pt_PT]=MPlayer PyQT GUI
GenericName[tr_TR]=MPlayer PyQT GUI
GenericName[zh_CN]=UPlayer视频播放器
GenericName[zh_TW]=UPlayer视频播放器
X-GNOME-FullName=UPlayer PyQT GUI
X-GNOME-FullName[ca]=UPlayer PyQT GUI
X-GNOME-FullName[de_DE]=UPlayer PyQT GUI
X-GNOME-FullName[es_ES]=UPlayer PyQT GUI
X-GNOME-FullName[es_MX]=UPlayer PyQT GUI
X-GNOME-FullName[fr_FR]=UPlayer PyQT GUI
X-GNOME-FullName[it_IT]=UPlayer PyQT GUI
X-GNOME-FullName[pt_BR]=UPlayer PyQT GUI
X-GNOME-FullName[pt_PT]=UPlayer PyQT GUI
X-GNOME-FullName[tr_TR]=UPlayer PyQT GUI
X-GNOME-FullName[zh_CN]=UPlayer视频播放器
X-GNOME-FullName[zh_TW]=UPlayer视频播放器
Type=Application
Comment=Lightweight MPlayer GUI base on PyQT
Comment[de_DE]=Ein schlanker YouDao Client basierend auf Gtk2 und Webkit
Comment[es_ES]=Cliente de YouDao basado en Gtk2 y Webkit
Comment[es_MX]=Cliente YouDao liviano basado en Gtk2 y Webkit
Comment[fr_FR]=Un client léger pour youdao basé sur Gtk2 et Webkit
Comment[it_IT]=YouDao Client leggero basato su Gtk2 e Webkit
Comment[pt_BR]=Cliente YouDao baseado em Gtk2 e Webkit
Comment[pt_PT]=Cliente Leve de YouDao baseado em Gtk2 e Webkit
Comment[tr_TR]=Gtk2 ve Webkit Tabanlı Hafif YouDao İstemcisi
Comment[zh_CN]=基于 PyQT 的轻量级 MPlayer GUI
Comment[zh_TW]=基於 PyQT 的輕巧 MPlayer GUI
Exec=/usr/bin/uplayer
Icon=/usr/share/uplayer/icons/SeaHare.jpeg
Categories=QT;GNOME;MPlayer;
X-GNOME-Gettext-Domain=uplayer
